<template>
  <div>
    <div class="link-container">
      <div class="title">输入视频的m3u8地址</div>
      <div class="link-box">
        <input ref="input_m3u8" type="text" v-model="m3u8_link">
        <div class="btn-clean" @click="cleanInput">x</div>
        <Button class="btn-download" @click="download">下载</Button>
      </div>
    </div>
    <div class="download-container">
      <div class="download-info">
        <span>{{ info.sub }}/{{ info.total }}</span>
        <span>{{ info.percentage }}</span>
      </div>
      <div class="progress-container">
        <div class="progress" :style="{ width: info.percentage }"></div>
      </div>
      <div class="sub-donwloading">{{ info.downloading }}</div>
    </div>
  </div>  
</template>

<script setup lang="ts">
import { ref } from 'vue';
const api = window.api;
let m3u8_link = ref('');
let input_m3u8 = ref(null);

const info = ref({
  sub: 0,
  total: 0,
  percentage: '0%',
  downloading: ''
});

function download () {
  console.log(m3u8_link.value)
  if(!m3u8_link.value) return;
  
  api.download(m3u8_link.value, (status: number, data: string) => {
    info.value = data;
    console.log(status, info.value)
  })
}

function cleanInput () {
  m3u8_link.value = '';
  input_m3u8.value.focus()
}
</script>

<style lang="less" scoped>
.link-container {
  padding-top: 20px;
  .title {
    font-size: 14px;
    color: #3a1818;
    margin-bottom: 10px;
  }
  .link-box {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    .btn-download {
      width: 100px;
      height: 100%;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #4dc14d;
      color: #fff;
      margin-left: 10px;
      cursor: pointer;
      &:active {
        background-color: #3da93d;
      }
    }
    input {
      flex: 1;
      border: 1px solid #bfbfbf;
      padding: 0 10px;
    }
    .btn-clean {
      position: absolute;
      right: 120px;
      top: 11px;
      width: 16px;
      height: 16px;
      border: 1px solid #bfbfbf;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      line-height: 16px;
      color: #bfbfbf;
      cursor: pointer;
      font-size: 12px;
    }
  }
}
.download-container {
  width: 100%;
  margin-top: 40px;
  .download-info {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 20px;
    font-size: 14px;
    color: #bfbfbf;
  }
  .progress-container {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #e6e6e6;
    .progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #18d07b;
    }
  }
  .sub-donwloading {
    height: 20px;
    font-size: 14px;
    color: #bfbfbf;
  }
}
</style>